<table class="table">
    <thead class="text-success">
        <th>
            ID
        </th>
        <th>
            Libelle
        </th>
        
    </thead>
    <tbody>
        <tr *ngFor="let avancement of listAvancement; let i = index">
            <td>{{avancement.idAvancement}}</td>
            <td>{{avancement.libelle}}</td>
           
            <td class="td-actions">
                <button type="button" rel="tooltip" title="Editer" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
