<table class="table">
    <thead class="text-success">
        <th>
            ID
        </th>
        <th>
            Nom
        </th>
        
    </thead>
    <tbody>
        <tr *ngFor="let zone of listZone; let i = index">
            <td>{{zone.idZone}}</td>
            <td>{{zone.nom}}</td>
            
            <td class="td-actions">
                
                <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
