<div class="container-fluid">
    <div align="center">
        <form [formGroup]="formulaireTache" (ngSubmit)="onSubmit()">
            <div class="row">

                <mat-form-field class="col-6">
                    <input matInput placeholder="Activite : " [(ngModel)]="nouvelleTache.activite"
                        formControlName="activite" [ngClass]="{'is-invalid': submitted && f.activite.errors }">
                    <mat-error *ngIf="submitted && f.activite.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.activite.errors.required">Une activité est obligatoire
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-6" appearance="outline">
                    <input matInput [owlDateTime]="dt2" placeholder="Date/Heure :" formControlName="date"
                        [(ngModel)]="nouvelleTache.date" [owlDateTimeTrigger]="dt2" autocomplete="off" >
                    <mat-icon matSuffix [owlDateTimeTrigger]="dt2">calendar_today</mat-icon>
                    <owl-date-time #dt2 ></owl-date-time>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-6">
                    <input matInput placeholder="Durée : " [(ngModel)]="nouvelleTache.duree" formControlName="duree">
                </mat-form-field>

                <mat-form-field class="col-6">
                    <mat-label>Rôle :</mat-label>
                    <mat-select [(ngModel)]="varAvancement" formControlName="avancement" id="avancement">
                        <mat-option *ngFor="let avancement of listAvancement" [value]="avancement.idAvancement">
                            {{avancement.libelle}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.avancement.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.avancement.errors.required">Un avancement concernant la tâche est
                            obligatoire
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group col-lg">
                <button type="submit" class="btn btn-outline-success">Ajouter</button>
                &nbsp;
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
            </div>
        </form>
    </div>
</div>