<table class="table">
    <thead class="text-success">
        <th>
            ID
        </th>
        <th>
            Produit
        </th>
        <th>
            Stock
        </th>
        
    </thead>
    <tbody>
        <tr *ngFor="let nourriture of listNourriture; let i = index">
            <td>{{nourriture.idNourriture}}</td>
            <td>{{nourriture.produit}}</td>
            <td>{{nourriture.stock}}</td>
            
            <td class="td-actions">
                <button type="button" rel="tooltip" title="Editer" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
