<table class="table">
    <thead class="text-success">
        <th>
            ID
        </th>
        <th>
            Numero
        </th>
        <th>
            Capacite
        </th>
        <th>
            Zone
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let enclos of listEnclos; let i = index">
            <td>{{enclos.idEnclos}}</td>
            <td>{{enclos.numero}}</td>
            <td>{{enclos.capacite}}</td>
            <td>{{enclos.zone.nom}}</td>
            <td class="td-actions">
                <button type="button" rel="tooltip" title="Editer" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
