<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Inscription</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="formulaireInscription" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Login</label>
                                <input type="text" class="form-control" placeholder="Login:"
                                    [(ngModel)]="nouvellePersonne.login" formControlName="login"
                                    [ngClass]="{'is-invalid': submitted && c.login.errors }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="email" class="form-control" placeholder="Email:"
                                [(ngModel)]="nouvellePersonne.email" formControlName="email"
                                [ngClass]="{'is-invalid': submitted && c.email.errors }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nom de famille</label>
                                <input type="text" class="form-control" placeholder="nom de famille:"
                                [(ngModel)]="nouvellePersonne.nom" formControlName="nom"
                                [ngClass]="{'is-invalid': submitted && c.nom.errors }">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Prénom</label>
                                <input type="text" class="form-control" placeholder="Prénom:"
                                [(ngModel)]="nouvellePersonne.prenom" formControlName="prenom"
                                [ngClass]="{'is-invalid': submitted && c.prenom.errors }">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Ville</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Code postal</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Adresse</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>